/* Responsive Menu - max-width: 730px */
@media screen and (max-width: 45.62em) {
	.nav-list {
		display: none;
	}

	.mobile-menu_icon {
		display: block;
		text-align: end;
		padding: .4rem;
	}

	.mobile-menu_icon button {
		background-color: transparent;
		border: none;
		color: var(--light-shade);
		cursor: pointer;
	}

	.mobile-menu_list a {
		display: block;
	}

	.open {
		display: block;
	}
}

/* min-width: 1160px */
@media screen and (min-width: 72.5em) {
	.main-container {
		width: 86vw;
	}
	.colunas {
		align-items: center;
	}

	.coluna {
		width: 40vw;
	}

	.cards-container {
		width: 60vw;
	}

	.form-inscreva-se {
		width: 30%;
	}
}

/* max-width: 1000px */
@media screen and (max-width: 62.5em) {
	.mulheres-stem_img {
		width: 35%;
	}

	.card-iniciativa {
		width: 8rem;
		height: 8rem;
	}	
}

/* min-width: 825px | max-width: 1000px */
@media screen and (min-width: 51.56em) and (max-width: 62.5em) {
	.colunas {
		gap: 1rem;
	}

	.article_title, .section_title {
		font-size: 1.3em;
	}

	.mulheres-stem_gallery {
		justify-content: space-around;
	}

	.form_img {
		max-width: 30%;
	}

	.sobre_actions {
		font-size: 1.8rem;
	}

}

/* Tamanhos Texto - max-width: 825px */
@media screen and (max-width: 51.56em) {
	.article_title, .section_title {
		font-size: 1.3em;
	}

	.article_subtitle {
		font-size: 1em;
	}

	.content_text {
		font-size: .9em;
	}
}

/* min-width: 640px | max-width: 825px */
@media screen and (min-width: 40em) and (max-width: 51.56em) {
	.colunas-md {
		flex-direction: column;
		align-items: center;
	}

	.coluna-md {
		width: 80vw;
	}

	.mulheres-stem_gallery {
		justify-content: space-around;
	}

	.cards-container {
		width: 75vw;
	}

	.card-iniciativa {
		width: 	6.3rem;
		height: 6.3rem;
	}

	.card_back {
		gap: .5em;
	}

	.form-inscreva-se {
		width: 45%;
		font-size: .8em;
	}

	.stem_img {
		max-width: 25%;
	}

	.form_img {
		max-width: 30%;
	}

	.autora_img {
		max-width: 18%;
	}
}

@media screen and (min-width: 620px) {
	.footer_creditos-list {
		grid-template-columns: 1fr 1fr;
	}
}

/* max-width: 640px*/
@media screen and (max-width: 40em) {
	.hero_title {
		font-size: 2.8em;
	}

	.colunas {
		flex-direction: column;
		align-items: center;
	}

	.coluna {
		width: 90vw;
	}

	.article_subtitle {
		margin-bottom: 1em;
	}

	.stem_img {
		max-width: 30%;
	}

	.mulheres-stem_img {
		width: 65%;
	}

	.cards-container {
		flex-direction: row;
		width: 85vw;
	}

	.form_img {
		max-width: 35%;
	}

	.autora_img {
		max-width: 20%;
	}

	.footer_copyright {
		flex-direction: column;
		align-items: center;
	}
}